<%- include('./partials/header'); -%>
<%- include('./partials/navbar'); -%>
<h1>CREATION D'UN BÂTIMENT</h1>
<form  action = "/create_batiment" method = "post" name = "">
    <div class="form-group">
      <label>Nom du bâtiment</label>
      <input class="form-control" type = "text" name = "batiment"></input>
    </div>
    <div class="form-group">
      <label>Adresse</label>
      <input class="form-control" type = "text" name = "adresse"></input>
    </div>
    <div class="form-group">
      <label>Code Postal</label>
      <input class="form-control" type = "text" name = "zip"></input>
    </div>
    <div class="form-group">
      <label>Ville</label>
      <input class="form-control" type = "text" name = "town"></input>
    </div>
    <div class="form-group">
      <label>Numéro du PCE</label>
      <input class="form-control" type = "text" name = "pce"></input>
    </div>
    <div class="form-group">
      <label>Description</label>
      <textarea  class = "form-control" name = "description"></textarea>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox"  name = "checkboxInventaire" id="checkboxInventaire" value="checked">
      <label class="form-check-label" for="checkboxInventaire">Inventaire terminé</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" name="checkboxDetendeurs" id="checkboxDetendeurs" value="checked">
      <label class="form-check-label" for="checkboxDetendeurs">Réglages détendeurs éffectués</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" name = "checkboxDevis" id="checkboxDevis" value="checked">
      <label class="form-check-label" for="checkboxDevis">Devis réglages appareils gaz</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" name = "checkboxDevisValides" id="checkboxDevisValides" value="checked">
      <label class="form-check-label" for="checkboxDevisValides">Devis réglages appareils gaz validés GRDF</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" name="checkboxEngagement" id="checkboxEngagement" value="checked">
      <label class="form-check-label" for=""checkboxEngagement">Engagement financier prestataire terminé</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox"  name="checkboxReglages" id="checkboxReglages" value="checked">
      <label class="form-check-label" for="checkboxReglages">Travaux réglages pression terminés</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" name = "checkboxAttestation" id="checkboxAttestation" value="checked">
      <label class="form-check-label" for="checkboxAttestation">Attestation de conformité signée</label>
    </div>
    <br>
  <button class = "btn btn-info" type="submit">Créer</button>
</form>

<%- include('./partials/footer'); -%>

