<%- include('./partials/header'); -%>
<body>
  <header class="header-bar mb-3 bar-top">
    <div class="container d-flex flex-column flex-md-row align-items-center p-3">
      <h4 class="my-0 mr-md-auto font-weight-normal"><a href="/" class="text-dark">EnErGiZAPP</a></h4>
      <form action="#" method="POST" class="mb-0 pt-2 pt-md-0">
        <div class="row align-items-center">
          <div class="col-md mr-0 pr-md-0 mb-3 mb-md-0">
            <input name="username" class="form-control form-control-sm input-dark" type="text" placeholder="Nom d'utilisateur" autocomplete="off">
          </div>
          <div class="col-md mr-0 pr-md-0 mb-3 mb-md-0">
            <input name="password" class="form-control form-control-sm input-dark" type="password" placeholder="Mot de passe">
          </div>
          <div class="col-md-auto">
            <button class="btn btn-primary btn-sm">Inscription</button>
          </div>
        </div>
      </form>      
    </div>
  </header>  

<!-- header ends here -->

<div class="container py-md-5">

  <div class="row align-items-center">
    <div class="col-lg-7 py-3 py-md-5">
      <h1 class="display-3">Vous gérez l'energie de votre commune?</h1>      
      <p class="lead text-muted">Cette application est déstinée à vous aider è suivre les consommations, les coûts, le suivi des travaux d'améliorations ou réglementaires(Gaz H, ...), mais aussi les CEE et les financements obtenus. ELLE EST EN PHASE DE CONCEPTION</p>
    </div>
    <div class="col-lg-5 pl-lg-5 pb-3 py-lg-5">

      <form action="/register" method="POST" id="registration-form">
          <div class="form-group">
            <label for="username-register" class="text-muted mb-1"><small>Nom d'utilisateur</small></label>
            <input name="username" id="username-register" class="form-control" type="text" placeholder="Choisissez un nom d'utilisateur" autocomplete="off">
          </div>
          
          <div class="form-group">
            <label for="email-register" class="text-muted mb-1"><small>Email</small></label>
            <input name="email" id="email-register" class="form-control" type="text" placeholder="vous@example.com" autocomplete="off">
          </div>
          
          <div class="form-group">
            <label for="password-register" class="text-muted mb-1"><small>Mot de passe</small></label>
            <input name="password" id="password-register" class="form-control" type="password" placeholder="Creer un mot de passe">
          </div>
          
          <button type="submit" class="py-3 mt-4 btn btn-lg btn-primary btn-block">S'enregistrer sur l'application</button>
          
        </form>
      </div>
    </div>
  </div>
  
<!-- footer begins -->
<%- include('./partials/footer'); -%>
