<%- include('./partials/header'); -%>
<h1>LISTE DES BÂTIMENTS</h1>
<p><%=listBatiments%></p>


<% batiments.forEach(batiment => console.log(batiment.batiment));%>
  
<%- include('./partials/footer'); -%>

